<!-- main-visual用のdiv -->
<div class="profile-container">

    <div class="main-visual">
      <div class="main-visual-content">
    </div>

</div>
<%= render 'post_images/list', post_images: @post_images %>